h1 {
  font-size: 2rem;
  text-align: center;
}

.bigger {
  font-size: 2.5rem;
}

.todoList {
  border-left: 1px solid;
  border-right: 1px solid;
}

.darkLightMode {
  height: 10vh;
}

.row {
  --bs-gutter-x: 0 !important;
}

.col-xs-12 {
  z-index: 1;
}

.col-lg-4 {
  z-index: 1;
}

.margin50 {
  margin-left: 45%;
  margin-top: 10%;
}

.mp2 {
  padding-bottom: 40px !important;
}

@media (min-width: 992px) {
  .addTodo {
    height: 10vh;
  }
}

@media (max-width: 992px) {
  .mediamargin {
    margin: 0 !important;
  }

  .mediapadding {
    padding: 0 !important;
  }
}
