.container {
  background: url("../assets/bg-desktop-light.jpg") no-repeat top;
  min-height: 100vh;
  background-size: 100% 33vh;
  background-color: var(--very-light-gray);
}

.container-dark {
  background: url("../assets/bg-desktop-dark.jpg") no-repeat top;
  background-size: 100% 33vh;
  background-color: var(--very-dark-blue);
}

@media (max-width: 375px) {
  .background {
    background: url("../assets/bg-mobile-light.jpg") no-repeat top;
    background-size: 100% 33vh;
  }

  .background-dark {
    background: url("../assets/bg-mobile-dark.jpg") no-repeat top;
    background-size: 100% 33vh;
  }
}
