.content-container {
  width: 700px;
  padding: 10vh 25px 25px 25px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.change-theme {
  width: 35px;
  height: 35px;
}

.change-theme img {
  width: 35px;
}

@media (max-width: 700px) {
  .content-container {
    width: 100%;
    padding: 5vh 25px 25px 25px;
  }

  .title {
    font-size: 1.8rem;
  }

  .change-theme {
    width: 25px;
    height: 25px;
  }

  .change-theme img {
    width: 25px;
    height: 25px;
  }
}
