.add-form {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  cursor: initial;
}

.todo-label {
  display: none;
}

.todo-input {
  color: var(--very-dark-grayish-blue);
  margin-top: 3px;
  font-size: 1.2rem;
  flex-grow: 1;
  min-width: 0;
  border: none;
  outline: none;
  background: none;
}

.todo-input-dark {
  color: var(--d-light-grayish-blue);
}

.todo-input::placeholder {
  color: var(--dark-grayish-blue);
}

.todo-input-dark::placeholder {
  color: var(--d-dark-grayish-blue);
}

.todos {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.todos-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-container > *,
.mobile-filters > * {
  margin: 0 8px;
}

.todos-filter-dark {
  background: var(--very-dark-desatured-blue);
}

.todo-filter,
.todo-items,
.todo-clear {
  font-size: 0.8rem;
}

.todo-items,
.todo-clear {
  color: var(--light-grayish-blue);
}

.todo-items-dark,
.todo-clear-dark {
  color: var(--d-very-dark-grayish-blue);
}

.todo-filter {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 0.9rem;
}

.todo-filter-dark {
  color: var(--d-dark-grayish-blue);
}

.todo-filter-active,
.todo-filter-active:hover {
  color: var(--primary-bright-blue) !important;
}

.todo-filter:hover,
.todo-clear:hover {
  color: var(--very-dark-grayish-blue);
}

.todo-filter-dark:hover,
.todo-clear-dark:hover {
  color: var(--d-light-grayish-blue);
}

.mobile-filters {
  cursor: initial;
  display: none;
  border-bottom: none;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  margin-top: 1.5rem;
  border-radius: 8px;
}

@media (max-width: 550px) {
  .filters-container {
    display: none;
  }

  .mobile-filters {
    display: flex;
    justify-content: center;
  }
}
