.todo-section {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid var(--light-grayish-blue);
  width: 100%;
  padding: 20px;
}

.todo-section-dark {
  background: var(--very-dark-desatured-blue);
  border-bottom: 1px solid var(--very-dark-grayish-blue-hover);
}

.todo-radius {
  border-radius: 8px 8px 0 0;
}

.todo-title {
  color: var(--very-dark-grayish-blue);
  padding-right: 5px;
  font-size: 1rem;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.todo-title-dark {
  color: var(--d-light-grayish-blue);
}

.delete-todo {
  display: none;
}

.delete-todo-hovered,
.delete-todo:hover {
  display: initial;
}

.todo-completed {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.todo-completed-dark {
  color: var(--d-very-dark-grayish-blue);
}

@media (max-width: 500px) {
  .delete-todo {
    display: initial;
  }
}

@media (max-width: 450px) {
  .todo-title {
    font-size: 0.8rem;
  }
}
